@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 24px;
}


/* Code from https://moderncss.dev/pure-css-custom-checkbox-style */
input[type="checkbox"] {
  appearance: none;
  font: inherit;
  color: rgb(148 163 184);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: green;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid green;
  outline-offset: max(2px, 0.15em);
}


